@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nunito:wght@400;700&family=Quicksand:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply px-14 py-3 rounded-full font-bold
}

.btn-outlined {
	@apply border border-primary text-primary
}

.btn-filled {
	@apply bg-primary text-white shadow-md shadow-primary
}

.subtitle {
	@apply text-primary font-secondary text-2xl mb-5
}

.title {
	@apply text-5xl font-bold tracking-wider
}

.text {
	@apply text-xl text-grey font-normal leading-relaxed font-secondary
}

.padding-x-percent-5 {
	padding-left: 5%;
	padding-right: 5%;
}

.padding-x-percent-10 {
	padding-left: 10%;
	padding-right: 10%;
}

.padding-x-percent-15 {
	padding-left: 15%;
	padding-right: 15%;
}

.padding-x-percent-20 {
	padding-left: 20%;
	padding-right: 20%;
}


.padding-y-percent-5 {
	padding-top: 5%;
	padding-bottom: 5%;
}

.padding-y-percent-20 {
	padding-top: 20%;
	padding-bottom: 20%;
}

.service-card {
	@apply p-9 flex flex-col items-center
}

.service-circle {
	@apply rounded-full w-28 h-28 flex justify-center items-center
}

.service-text {
	@apply mt-8 font-secondary font-bold text-2xl text-center leading-relaxed
}

.portfolio-text {
	@apply text-white font-secondary font-bold text-2xl absolute bottom-5 left-5
}

.feedback-text {
	@apply text-left text-lg font-secondary text-opacity-80 text-grey leading-relaxed
}
